<template>
  <div class="navbar">
    <h1>My Vuex App</h1>
    <ul>
      <li>Home</li>
      <li>About</li>
      <li v-if="authen">
        Total todo: {{ totalTodo }}
        <button @click="LOGOUT">Logout</button>
      </li>
      <button v-else @click="LOGIN">Login</button>
    </ul>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  name: "Navbar",
  computed: {
    // ...mapState({
    //   totalTodo: (state) => state.todoList.length,
    // }),
    authen() {
      return this.$store.getters.authentication;
    },
    totalTodo() {
      return this.$store.getters.todoList.length;
    },
  },
  // methods: {
  //   login() {
  //     this.$store.commit("LOGIN");
  //   },
  //   logout() {
  //     this.$store.commit("LOGOUT");
  //   },
  // },
  methods: mapMutations(["LOGIN", "LOGOUT"]),
};
</script>

<style>
.navbar {
  padding: 5px;
  text-align: center;
  background: rgb(240, 240, 240);
  color: black;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
}
</style>
