<template class="todo-list">
  <div>
    <TodoForm v-if="authen" />
    <ul class="todo-list" v-if="authen">
      <li
        v-for="todo in todoList"
        :key="todo.id"
        :class="todo.completed ? 'completed' : ''"
      >
        {{ todo.title }}

        <input
          type="checkbox"
          :checked="todo.completed"
          @change="MARK_COMPLETED(todo.id)"
        />
        <button @click="deleteTodo(todo.id)">
          Delete
        </button>
      </li>
    </ul>
    <p v-else style="text-align: center">No authorised</p>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import TodoForm from "../components/TodoForm";

export default {
  name: "Todos",
  components: { TodoForm },
  computed: {
    // ...mapState({
    //   todoList: (state) => state.todoList,
    //   authen: (state) => state.auth.authentication,
    // }),
    authen() {
      return this.$store.getters.authentication;
    },
    todoList() {
      return this.$store.getters.todoList;
    },
  },
  created() {
    this.getTodos();
  },
  // methods: {
  //   markCompleted(id) {
  //     this.$store.commit("MARK_COMPLETED", id);
  //   },
  // },
  methods: {
    ...mapMutations(["MARK_COMPLETED"]),
    deleteTodo(todoId) {
      this.$store.dispatch("deleteTodo", todoId);
    },
    getTodos() {
      this.$store.dispatch("getTodos");
    },
  },
};
</script>

<style>
.todo-list {
  padding: 0 10px 10px 10px;
  list-style-type: none;
}
.todo-list li {
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 4px;
  background: rgb(240, 240, 240);
  color: black;
}
.todo-list li input[type="checkbox"] {
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
  float: right;
  cursor: pointer;
}

.todo-list li button {
  float: right;
  margin-right: 20px;
}

.todo-list li button:hover {
  cursor: pointer;
  background: red;
  color: white;
}

.todo-list li.completed {
  background: rgb(113, 231, 103);
}
</style>
